{% extends "./common/base.html" %}

{% block main %}
<body>
    <div class="container">
        <h1>历史对局</h1>
        <div id="games-list" class="games-list">
            <!-- 对局列表将通过JS动态生成 -->
        </div>
        <div class="pagination">
            <button id="prev-page">上一页</button>
            <span id="current-page">1</span>
            <button id="next-page">下一页</button>
        </div>
    </div>
</body>
{% endblock main %}

{% block js%}
<script src="{{ url_for('static',filename='js/histTable.js') }}"></script>
{% endblock%}