{% extends './common/base.html' %}

{% block main%}

<body>
    <div class="container">
        <h1>Welcome to Go Game</h1>
        <section class="game-info-section">
            <article class="game-info">
                <h2>About Go Game</h2>
                <p>Go is a classic board game originated from China. It is played by two players who take turns placing
                    black and white stones on a grid board.</p>
                <p>It is known for its simple rules yet deep strategic complexity, making it one of the most challenging
                    and
                    rewarding board games ever created.</p>
                <div class="button-group">
                    <button id="play-button" class="game-link">Play Go Game</button>
                    <a href="{{ url_for('auth.logout') }}" class="game-link logout-link">登出</a>
                    {# <a href="{{ url_for('auth.logout') }}" class="game-link">登出</a> #}
                </div>
    </div>
    </section>
    </div>
    <div id="form-popup" class="form-popup">
        <button id="close-button" class="close-button">Close</button>
        <form action="{{ url_for('home.create') }}" method="post">

            <label for="game_name">Game Name:</label>
            <input type="text" id="game_name" name="game_name" required>
            <label for="white_player">White Player:</label>
            <input type="text" id="white_player" name="white_player">
            <label for="black_player">Black Player:</label>
            <input type="text" id="black_player" name="black_player">
            <input type="submit" value="Create">
        </form>
    </div>
    <script>
        // 当页面加载完成后执行
        document.addEventListener('DOMContentLoaded', function () {
            // 获取按钮和表单弹出框
            var playButton = document.getElementById('play-button');
            var closeButton = document.getElementById('close-button');
            var formPopup = document.getElementById('form-popup');

            // 当按钮被点击时显示表单弹出框
            playButton.addEventListener('click', function () {
                formPopup.style.display = 'block';
            });
            closeButton.addEventListener('click', function () {
                formPopup.style.display = 'none';
            });

        });
    </script>

</body>
{% endblock%}