{% extends './common/base.html' %}

{% block main%}
<body>
    <div class="container">
        <h1>Register</h1>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm">Confirm Password:</label>
            <input type="password" id="confirm" name="confirm" required>

            <label class="tos">
                <input type="checkbox" id="accept_tos" name="accept_tos" required>
                I accept the Terms of Service
            </label>

            <input type="submit" value="Register">
        </form>
    </div>
</body>

{% endblock%}